<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>Get User with the ID of <%= userId %></h1>
    <p>This is the detail of user nnnnnnn with ID: <%= userId %></p>
    <a href="/">Go back to Home</a>
</body>
</html>
